#main{
  min-height: 90vh;
  display: block;
  align-items: center;
}

*{
  text-align: center;
}

.tl{
  color: #fff;
  background-color: #343a40;
  border-color: #454d55 !important; 
}
